In [2]:
import pandas as pd

read

In [3]:
df = pd.read_csv("test1.csv")

In [4]:
print(df)

   id   name  age     hobby
0   1  vahid   36  computer
1   2    ali   25  football
2   3  hasan   30   reading

In [5]:
print(df.iloc[0][3])

computer

C:\Users\vahid\AppData\Local\Temp\ipykernel_22296\198482459.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][3])

In [7]:
print(df.iloc[0])

id              1
name        vahid
age            36
hobby    computer
Name: 0, dtype: object

Edit

In [11]:
print(df)

   id   name  age     hobby
0   1  vahid   36  computer
1   2    ali   25  football
2   3  hasan   30   reading

In [15]:
df.iloc[1]=[5,"saedd",44,"music"]
print(df)

   id   name  age     hobby
0   1  vahid   36  computer
1   5  saedd   44     music
2   3  hasan   30   reading

append

In [24]:
print(df)

   id   name  age     hobby
0   1  vahid   36  computer
1   5  saedd   44     music
2   3  hasan   30   reading

In [33]:
new_row = pd.DataFrame([{"id":7,"name":"hamid","age":50,"hobby":"varzesh"}])
appdf = pd.concat([df, new_row], ignore_index=True)
print(appdf)

   id   name  age     hobby
0   1  vahid   36  computer
1   5  saedd   44     music
2   3  hasan   30   reading
3   7  hamid   50   varzesh

In [35]:
print(df)

   id   name  age     hobby
0   1  vahid   36  computer
1   5  saedd   44     music
2   3  hasan   30   reading

In [34]:
print(len(df))

3

In [36]:
df.loc[len(df)]=[4,"ali",55,"game"]
print(df)

   id   name  age     hobby
0   1  vahid   36  computer
1   5  saedd   44     music
2   3  hasan   30   reading
3   4    ali   55      game