# Set

# تعریف

In [1]:

city1 = {"Tokyo","Miami","London"}

print(city1)


city2 = set(["Paris","Madrid","Rome"])

print(city2)

{'Tokyo', 'London', 'Miami'}
{'Madrid', 'Rome', 'Paris'}

In [2]:
city = set()

print(city)

set()

# تبدیل دیکشنری به ست

In [3]:

city1 = {"Tokyo","Miami","London"}

print(city1)


city2 = set(city1)

print(city2)

{'Tokyo', 'London', 'Miami'}
{'Tokyo', 'London', 'Miami'}

# اضافه کردن عنصر به ست ها

تو ست ها تکراری باشه اضافه نمیشه رو قبلی میفته

In [5]:

city = {"Tokyo","Miami","London"}

print(city)


city.add("Paris")

print(city)


city.add("Tokyo")

print(city)

{'Tokyo', 'London', 'Miami'}
{'Tokyo', 'London', 'Miami', 'Paris'}
{'Tokyo', 'London', 'Miami', 'Paris'}

# دو متغیر داده هایش مخلوط بشه

union

In [7]:

city1 = {"Tokyo","New York","London"}

print(city1)


city2 = {"Paris","Tokyo","Madrid","London"}

print(city2)


city3 = city1.union(city2)

print(city3)

{'Tokyo', 'London', 'New York'}
{'Tokyo', 'London', 'Madrid', 'Paris'}
{'Paris', 'New York', 'Tokyo', 'London', 'Madrid'}

# حذف کردن از ست ها

remove

اگر که وجود نداشته باشه عنصر خطا میده برنامه

In [6]:
city = {"Tokyo","Miami","London"}

print(city)


city.remove("Tokyo")

print(city)

city.remove("Tokyo")

{'Tokyo', 'London', 'Miami'}
{'London', 'Miami'}

KeyError: 'Tokyo'

# عناصر مشترک در دو متغیر

‌intersection

In [8]:
city1 = {"Tokyo","New York","London"}

print(city1)


city2 = {"Paris","Tokyo","Madrid","London"}

print(city2)


city3 = city1.intersection(city2)

print(city3)

{'Tokyo', 'London', 'New York'}
{'Tokyo', 'London', 'Madrid', 'Paris'}
{'Tokyo', 'London'}

# پیدا کردن تفاوت عناصر بین متغیر ها

difference

In [9]:
city1 = {"Tokyo","New York","London"}

print(city1)


city2 = {"Paris","Tokyo","Madrid","London"}

print(city2)


city3 = city1.difference(city2)

print(city3)

{'Tokyo', 'London', 'New York'}
{'Tokyo', 'London', 'Madrid', 'Paris'}
{'New York'}

# تفاوت متقارن عناصر دو متغیر

symmetric_difference

In [11]:

city1 = {"Tokyo","New York","London"}

print(city1)


city2 = {"Paris","Tokyo","Madrid","London"}

print(city2)


city3 = city1.symmetric_difference(city2)

print(city3)

{'Tokyo', 'London', 'New York'}
{'Tokyo', 'London', 'Madrid', 'Paris'}
{'New York', 'Madrid', 'Paris'}