リスト「numbers」があります。リスト「numbers」の要素を「3倍」にしたリストを作成してください。

In [1]:
numbers=[2,3,5,9,4,6,8]
number1=[i*3 for i in numbers]
print(number1)

[6, 9, 15, 27, 12, 18, 24]

リスト「numbers」があります,リスト「numbers」から「3の倍数」のみのリストを作成してください

In [3]:
number2=[x for x in numbers if x % 3 == 0]
print(number2)

[3, 9, 6]

リスト「numbers」を降順に並び替えて、実行結果のように表示する処理を作成してください

In [20]:
numbers1 = [58,89,20,889,713,160]
print(numbers1)
numbers1.sort()
print(numbers1)
numbers1.sort(reverse=True)
print(numbers1)

[58, 89, 20, 889, 713, 160]
[20, 58, 89, 160, 713, 889]
[889, 713, 160, 89, 58, 20]

リスト「members」を逆順に並び替えて、実行結果のように表示する処理を作成してください

In [24]:
members = ["Ariel","Bell","Chris","Donna","Emmy"]
print(members)
members.reverse()
print(members)

['Ariel', 'Bell', 'Chris', 'Donna', 'Emmy']
['Emmy', 'Donna', 'Chris', 'Bell', 'Ariel']

پیدا کردن یک مقدار تکراری از داخل لیست و حذف کردن

In [32]:
members = ["Ariel","Donna","Bell","Chris","Donna","Ariel","Emmy"]
total=[]
find_word="Ariel"
for i in members:
    if i == find_word:
        members.remove(i)
        total.append(i)
print(members)

['Donna', 'Bell', 'Chris', 'Donna', 'Emmy']

タプル「fruits」があります。「スライス」の機能を利用して、先頭から、「3個」の要素を取り出してください。実行結果のように表示する処理を作成してください

In [34]:
fruits = ("apple","orange","melon","grape","banana")
ff=fruits[0:3]
print(ff)

('apple', 'orange', 'melon')

タプル「fruits」があります。「スライス」の機能を利用して3個目の要素から、最後までを取り出してください。実行結果のように表示する処理を作成してください

In [36]:
fff=fruits[2:]
print(fff)

('melon', 'grape', 'banana')


タプル「sports」があります。for文と関数「enumerate」を利用して、実行結果のように表示する処理を作成してください

In [40]:
sports = ("football","tennis","vollyball","dance")
for ind,val in enumerate (sports):
    print(f"{ind} : {val}")

0 : football
1 : tennis
2 : vollyball
3 : dance

ディクショナリ「data1」と「data2」があります。2個のディクショナリを1個のディクショナリに結合してください。実行結果のように表示する処理を作成してください

In [1]:

data1 = {

    "東京" : 88,

    "神奈川" : 93,

    "千葉" : 90,

}


data2 = {

    "大阪" : 91,

    "京都" : 85,

}

data2.update(data1)
print(data2)

{'大阪': 91, '京都': 85, '東京': 88, '神奈川': 93, '千葉': 90}

ディクショナリ「characters」があります。for文と「keys()」を利用して、実行結果のように表示する処理を作成してください

In [3]:

characters = {

    "Micky" : "魔法使い",

    "Donald" : "戦士",

    "Ariel" : "武闘家",

    "Bell" : "賢者",

}
for key in characters:
    print(key)

Micky
Donald
Ariel
Bell

ディクショナリ「characters」があります。for文と「items()」を利用して、実行結果のように表示する処理を作成してください

In [4]:

characters = {

    "Micky" : "魔法使い",

    "Donald" : "戦士",

    "Ariel" : "武闘家",

    "Bell" : "賢者",

}

for key,val in characters.items():
    print(f"{key} : {val}")

Micky : 魔法使い
Donald : 戦士
Ariel : 武闘家
Bell : 賢者

ディクショナリ「characters」があります。for文と「values()」を利用して、ディクショナリの「値」の合計を計算してください。実行結果のように表示する処理を作成してください

In [5]:

characters = {

    "Micky" : 92,

    "Donald" : 90,

    "Ariel" : 85,

    "Bell" : 95,

}


total = 0

for val in characters.values():
    total += val
print(total)

362

「member1」と「member2」の2個のセットがあります。「union」を利用して、2個のセットの「和集合」を作成してください。実行結果のように表示する処理を作成してください

In [7]:

member1 = {"山田", "佐藤", "田中"}

member2 = {"山本", "田中", "高橋"}

member3 = member2.union(member1)
print(member3)

{'田中', '高橋', '佐藤', '山本', '山田'}

「numbers1」と「numbers2」の2個のセットがあります。「intersection」を利用して、2個のセットの「積集合」（共通項目）を作成してください。実行結果のように表示する処理を作成してください

In [8]:

numbers1 = {4,3,5,7,9}

numbers2 = {2,3,9,6,1,4}

numbers3 = numbers1.intersection(numbers2)
print(numbers3)

{9, 3, 4}

「names1」と「names2」の2個のセットがあります。「symmetric_difference」を利用して、2個のセットの「対称差集合」を作成してください。実行結果のように表示する処理を作成してください

In [9]:
names1 = {"Micky","Donald","Elsa","Ariel"}

names2 = {"Minny","Elsa","Anna","Donald"}

names3 = names1.symmetric_difference(names2)
print(names3)

{'Minny', 'Micky', 'Anna', 'Ariel'}

In [10]:
def show_members(*members):
    for member in members:
        print(member) 
show_members("Ariel","Bell","Chris","Donna","Emmy")

Ariel
Bell
Chris
Donna
Emmy

In [11]:
def show_scores(**scores):
    for key,val in scores.items():
        print(f"{key} : {val}")
        
show_scores(Ariel=90,Bell=85,Chris=88,Donna=92,Emmy=95)

Ariel : 90
Bell : 85
Chris : 88
Donna : 92
Emmy : 95

リスト「data」があります。フィルタ関数とラムダ式を利用して、リスト「data」から偶数のみを取り出し、新しいリストを作成してください。実行結果のように表示する処理を作成してください

In [12]:

data = [3,6,8,14,2,10,13,11,5]

datanew = list(filter(lambda x: x % 2 == 0, data))
print(datanew)

[6, 8, 14, 2, 10]